# Maven
target/
*.log
dependency-reduced-pom.xml

# Deployment
dist/

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store

# Minecraft
minecraft-data
java-runtime/
installer.jar
